# Project 1  
### The Moonshadow Elves  
* Hongmei Zeng  
* Noah Stettler  
* Patrick Harrington  
* Yacub Bholat  
  
Due: 13 January 2020

# Demographic Data

In [10]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import requests

In [11]:
path = os.path.join("austin_demographics.csv")
df = df = pd.read_csv(path)
df.columns

Index(['Data Item', '1990', '2000', '2010', '2018'], dtype='object')

In [12]:
df.head()

                   Data Item     1990     2000     2010     2018
0          Total Population   465,622  656,562  790,390  964,243
1  Anglo(non-Hispanic White)  287,289  347,554  385,271  452,110
2           African-American   55,409   64,259   60,760   69,770
3            Hispanic-Latino  106,162  200,579  277,709  320,562
4                      Asian   15,366   30,915   49,506   68,181

# Race